html, body {
    background-color: #ffffff;
    text-align: center;
}

.player {
    margin: 0 auto;
    position: relative;
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: left;
}



video {
    position: relative;
    width: 100%;
    z-index: 2;
}

.player .player_controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 10px;
    display: inline-block;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 3;
}

.player:hover .player_controls {
    opacity: 1;
}

.player:hover .rpl {
    opacity: 1;
}

.player .player_controls button {
    background: #575757;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 5px gray;
}

.rpl {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 4;
}

.center {
    position: absolute;
    bottom: 50px;
    z-index: 1;
}

.rpl input {
    box-shadow: 3px 3px 5px gray;
    cursor: pointer;
}

.rpl button {
    background: #575757;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border-color: rgb(94, 94, 94);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 5px gray;
    align-items: center;
}

.rpl i {
    position: relative;
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 6px;
    font-size: 30px;
}

.in {
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

h1, p {
    color: #000;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #121212;
    }

    .in {
        background-color: #2e2e2e;
        color: #bbb;
    }

    h1, p {
        color: #bbb;
    }
}